/*style sheet*/
body {
    font-family: Arial, sams-serif, Helvetica;
    background: rgb(170,250,170);
    margin: 5%;
    line-height: 1.45;/*    jianju^*/
    font-size: 20px;
}
#container {
    max-width: 760px;
    margin: 0 auto;
}


#quiz {
    max-width: 760px;
    margin: 0 auto;
}
#countdown{
    font-size: 35px;
    position: fixed;
    right:100px;
    top:100px;
    color: rgb(255,100,100);
    background-color: aliceblue;
}
h1, h2, h3 {
    color: #445C58;
    font-weight:200;
}
p, ul{ color:rgb(90,90,90);}

img {width: 200px; height: 250px}
.planet {width: 300px; height: 300px}
nav {
    display: block;
    background: white;
}

a {
    color: black;
    text-decoration: none;
    transition: color 500ms;
}

a:hover { color: green;}


ul{
    list-style: none;
    padding: 8px;
    color: black;
}
ul li{
    display: inline-block;
    margin-right: 1em;
    position:relative;
}

ul li ul {/* drop list*/
    font-size: 16px;
    display: none;
    position: absolute;
    left: 0;
    width: 200px;
    background: lightblue;
}

ul li:hover ul{
    display: inline-block;/* drop list*/
}

#home {
    font-size: 30px;
}

countdown {position: relative;
    z-index: 99;}

